html {
    color-scheme: light dark;
}

.blog {
    padding-top: 10px;
    padding-left: 2px;
    border: solid;
    border-width: 1px;
    margin-bottom: 5px;
}

.like {
    background-color: gray;
    padding: 3px 5px;
    display: inline-block;
    margin: 2px auto;
    border-radius: 7px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.hidden {
    display: none;
}

.notification {
    background-color: lightgrey;
    font-size: 1.2rem;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}
.notification--success {
    color: green;
}
.notification--error {
    color: red;
}