<template id="blog">
    <div class="blog">
        <span data-component="title"></span>
        <span data-component="author"></span>
        <button data-component="details">show</button>

        <div data-component="details-div" class="hidden">
            <span data-component="url"></span><br />

            likes <span data-component="likes"></span>
            <button data-component="like">like</button>
            <br />
        </div>
    </div> <!--TODO: unique data-component-{} per component?-->
</template>