<template id="blog">
    <div class="blog">
        <span data-component="title"></span>
        <span data-component="author"></span>
        <button data-component="details">show</button>
        <button data-component="delete">delete</button>

        <div data-component="details-div" class="hidden">
            <span data-component="url"></span><br />

            likes <span data-component="likes"></span>
            <button data-component="like">like</button>
            <br />

            <form>
                <input name="first" type="text" /><br />
                <input name="second" type="text" /><br />
                <button type="submit">set comment</button>
            </form>
            <p data-component="comment"></p>
        </div>
    </div> <!--TODO: unique data-component-{} per component?-->
</template>